*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main{
    margin: auto;
    margin-top: 5%;
    height:90vh;
    width:80%;
    
}
.header{
   text-align: center;
    font-family: 'Inter';
    font-style: normal;
    height: 45px;
    
}
.parent{
    background-color: rgba(59, 57, 57, 0.339); 
    
    
}

.input-box{
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #A19F9F
    
}
#input{
    height: 45px;
    width: 90%;
    margin-top: 11px;
    margin-left: 25px;
    position: absolute;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 50px;
    border: none;
    background-color: #D9D9D9;
    
    
}


#btn1{
    height: 35px;
    width:35px ;
    border-radius: 50%;
    cursor: no-drop;
    
    position: absolute;
    right: 10%;
    top: 16px;
    border: 1px solid black;
}


.category{
    height: 70px;
    border-block: 1px solid black;
    background-color: #A19F9F
}
#all-task{ 
    margin-left: 25px;
    margin-top: 20px;
    width:100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(59, 152, 188);
    color: white;
    cursor: pointer;
    
}
#incomplete{
    margin-left: 30px;
    margin-top: 20px;
    width:100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 44, 44);
    color: white;
    cursor: pointer;
}
#completed{
    margin-left: 30px;
    margin-top: 20px;
    width:100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}
.elements{
    background-color: #A19F9F;
    width: 100%;
    height:340px ;
    
    

}
.blocks{
    width:93%;
    overflow-y: auto;
    max-height: 340px;
    overflow-x: hidden;
    padding-right: 30px;
    
}
.task{
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    width:100%;
    height:80px;
    border-color: black;
    border: 1px solid rgb(74, 73, 73);
    background-color: #D9D9D9;
    border-radius: 10px;
}
.task:hover{
    background-color:  #C8C1C1;
    
}
.checkbox{
    position: absolute;
    top: 28px;
    left: 10px;
    border-radius: 50%;
    
}
.delete-img{
    height: 18px;
}
.delete{
    display:none;
}

.save-img{
    height: 18px;
}

.save{
    display: none;
    position:absolute;
    right: 40px;
    top: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}


.task:hover .delete{
    display: inline-block;
    position:absolute;
    right: 10px;
    top:25px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.inputs{
    position: absolute;
    top: 25px;
    left: 35px;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    user-select: none;

}

.open{
    display: inline-block;
  }

.popup{
    top:0;
    left: 0;
    height:100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    display: none;
}
.pop-div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.pop-delete {

    width:25%;
    height: 25%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;


}

#yes{
    width: 40px;
    height: 20px;
    cursor: pointer;
    background-color: rgb(232, 24, 24);
    color: white;
    border: none;
    border-radius: 3px;
}
#no{
    width: 40px;
    cursor: pointer;
    height: 20px;
    background-color: rgb(17, 125, 17);
    color: white;
    border: none;
    border-radius: 3px;

}
.btn-del{
    display: flex;
    gap: 35px;
}

.savetoast{
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    padding: 11px;
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 5px;
    visibility: hidden;
}
.warningtoast{
    position: fixed;
    top: 6px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    padding: 11px;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 5px;
    visibility: hidden;
}
.pop-edit{
    top:0;
    left: 0;
    height:100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    display: none;
}
#yes-del{
    width: 40px;
    height: 20px;
    cursor: pointer;
    background-color: rgb(232, 24, 24);
    color: white;
    border: none;
    border-radius: 3px;
}
#no-del{
    width: 40px;
    cursor: pointer;
    height: 20px;
    cursor: pointer;
    background-color: rgb(17, 125, 17);
    color: white;
    border: none;
    border-radius: 3px;

}
#completed-task{
    display: none;
    padding-top: 13%;
    padding-left: 25%;
    height: fit-content;
}
#incompleted-task{
    display: none;
    padding-top: 13%;
    padding-left: 25%;
}
#entire-task{
    display: none;
    padding-top: 13%;
    padding-left: 25%;
}

  
  
  
  
  
  
  
  
  
  
  
  




